---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_pictures.png'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Letter of Application -->
	<section class='py-12 border-b'>
		<Grid gridTitle='Letter of Application' gridItems={research_areas} />
		<p class="text-lg/8 pb-4 leading-16"> July 1, 2025 </p>
		<p class="text-lg pb-4 leading-16">
			Dear Reading Committee Members,
		</p>
		<p class="text-lg/8 pb-4 leading-16">
			Please accept this dossier in support of my application for re-appointment as the User Experience and Accessibility Librarian at the MSU Libraries. 
		</p>
		<p class="text-lg/8 pb-4 leading-16">
			As the User Experience & Accessibility Librarian at MSU Libraries, I am dedicated to creating inclusive, user-centered physical and digital interfaces that serve our diverse community of faculty, staff, students, and visitors. I collaborate closely with system administrators, designers, and cross-functional library teams to develop accessible web and mobile applications. My work is grounded in data-driven UX research, which I conduct in partnership with stakeholders and students to inform service improvements and ensure our platforms are intuitive, equitable, and responsive to user needs.
		</p>
		<p class="text-lg/8 pb-4 leading-16">
			The last 3 years provided exciting opportunities at the library to collaborate and lead several software development and UX testing activities. I was heavily involved in the launch of the new Main Libraries Website, Turfgrass Information Website, and the Digital Signage Application. I’m incredibility fortunate to have colleagues who supported our numerous UX research activities, which helped me grow as a researcher and identify new ways conduct UX research—leading to improving the user experience on several applications for our patrons. I’m extremely grateful for the opportunity to make meaningful contributions to our software development process to make it more accessible by using automated and manual testing/remediation workflow, some of which are included in this dossier.
		</p>
		<p class="text-lg/8 pb-4 leading-16">
			The diverse nature of my work in user experience, accessibility, and software development has opened up exciting opportunities to present at several professional conferences. I’ve had the privilege of sharing insights and project outcomes at events such as the Michigan Academic Library Association (MiALA), Designing for Digital (D4D), and the Digital Library Federation (DLF), among others. In addition to speaking engagements, I’ve also led hands-on workshops on a range of technical topics, drawing from my background in software development. These workshops have covered tools and technologies such as Git, Python Programming, Playwright for A11y testing, etc. To support these sessions, I created and maintained GitHub repositories with tutorial projects and documentation, enabling participants to continue learning beyond the workshop. These resources have been well-received and continue to serve as references for colleagues and peers.
		<p class="text-lg pb-4 leading-16">
			This dossier provides a deeper dive into select projects, presentations, workshops, and other scholarly activities of my work over the past 3 years and I’m very fortunate to collaborate with incredible colleagues at the Library and MSU campus.
		</p>
		<p class="text-lg pb-4 leading-16">
			Sruthin Gaddam
			<br />
			User Experience & Accessibility Librarian
			<br />
			E: <a href='mailto:gaddamsr@msu.edu'>gaddamsr@msu.edu</a>
		</p>
	</section>

	
</Layout>
