---
const {authors, title, type, info, link} = Astro.props
---
<p class="bg-gray-800 text-gray-200 p-4 rounded-[.25rem] mb-4 ps-16 -indent-8">
    <span class="text-gray-200">{authors}</span>
    <span class="italic text-gray-200">{title}</span>
    <span class="text-gray-200">[{type}].</span>
    <span class="text-gray-200">{info}</span>
    {link && (
        <a href={link} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">
            https://gaddamsrdossier.lib.msu.edu/{link} 
        </a>
    )}
</p>