---
import { Image } from 'astro:assets'
import {profile} from '../../settings'
import SocialIcons from './SocialIcons.astro'
import ProfilePictures from '@/assets/profile_pictures.png'
import { getCollection } from 'astro:content'
import { template } from '@/settings'

const {fullName, title} = profile
---
<aside
	class='px-4 pt-4 h-100 w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='flex flex-col my-8 justify-between h-full'>
		<div>
			<div class='flex justify-center items-center flex-col'>
				<Image
					class='mask mask-circle size-44'
					src={ProfilePictures}
					alt={`Profile picture of ${fullName}`}
				/>
				<h1 class="text-lg font-black mt-8 hidden lg:block"> <span>{fullName}</span> <br>{title}</h1>
			</div>
			<div class='mx-4 mt-4'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto text-sm'>
					<li>
                        <a class="text-sm" href=`${template.base}/` class='text-lg'>Home</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/papers` class='text-lg'>Position Description</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/cv` class='text-lg'>Curriculum Vitae</a>
                    </li>
					<li>
                        <a class="text-sm" href=`${template.base}/cv` class='text-lg'>Annotated Goals</a>
                    </li>
					<li>
                        <a class="text-sm" href=`${template.base}/cv` class='text-lg'>Self-Evaluations</a>
                    </li>
					<li>
                        <a class="text-sm" href=`${template.base}/cv` class='text-lg'>References</a>
                    </li>
					<li class="font-extrabold">
                        Criterion I
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/mainweb` class='text-lg'>Library Website Development</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/ux-mainweb` class='text-lg'>Library Website UX Research</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/tic` class='text-lg'>TIC Website Development</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/signage` class='text-lg'>Digital Signage Development</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/ux-signage` class='text-lg'>Digital Signage UX Research</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/a11y` class='text-lg'>Web Apps A11y Remediation</a>
					</li>
                    <li class="font-extrabold">
                        Criterion II
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/certifications` class='text-lg'>Certifications</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/ce` class='text-lg'>Continuous Education</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/conferences` class='text-lg'>Conferences Attended</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/exhibits` class='text-lg'>Exhibits</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/presentations` class='text-lg'>Presentations</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/posters` class='text-lg'>Posters</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/publications` class='text-lg'>Publications</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/workshops` class='text-lg'>Workshops</a>
					</li>
					<li class="font-extrabold">
                        Criterion III
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/library-committees` class='text-lg'>MSU Libraries</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/msu-committees` class='text-lg'>MSU</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/national-committees` class='text-lg'>National</a>
					</li>
					<li>
                        <a class="text-sm" href=`${template.base}/international-committees` class='text-lg'>International</a>
					</li>
				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons/>
		</div>
	</div>
</aside>
